body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(187deg, #75b6d2, #a3c4d3); /* Фон приложения */
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-attachment: fixed;
}


.main-container {
  text-align: center;
  max-width: 360px;
  max-height: 640px;
  width: 360px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* box-sizing: border-box; */


  padding: 10px;
  border-radius: 10px;
  /* background: linear-gradient(135deg, #849abe, #214176);  */
  /* background: white; */
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.5); /* Мягкая тень */
  /* backdrop-filter: blur(12px); Эффект размытия */
  border: 3px solid rgba(255, 255, 255, 0.088); 
  display: flex;
  justify-content: center;
}

.video {
    margin: 0;
    width: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

/* -------------------Header------------------- */
.header-info{
    max-width: 350px;
    width: 350px;
    height: 50px;
    /* background-color: #E0EDF8; */
    background-color: rgba(224, 237, 248, 0.6); 
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}
.date{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    
}
.time{
    font-size: 28px;
}

h1 {
    text-align: left;
    font-size: 14px;
}